@font-face {
	font-family: GamjaFlower;
}
html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	background: radial-gradient(#4CCEB2, #2F8FD8);
}
.game {
   width: 1000px;
   height: 600px;
   margin: 50px auto;
   background-color: #0F143C;
}
#wrap_letters {
	width: 750px;
	min-height: 55%;
	padding-top: 50px;
	margin: auto;
}
img {
	display: block;
	margin: auto;
}
.letter {
	width: 150px;
	opacity: 0;
	float: left;
}
.fontSnake {
	width: 20%;
	opacity: 0;
	animation-name: logo;
	animation-duration: 2s; /* Продолжительность анимации */
  animation-delay: 1s; /* Задержка */
  animation-fill-mode: forwards;
}
.cell {
	width: 25px;
	height: 25px;
	background-color: #fff;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #0F143C;
}
.gameCells {
	width: 750px;
	height: 600px;
	display: none;
	position: relative;
}
.snakeBody {
	background-image: url(../img/circle.svg);
	/*background-position: 107px 107px;*/
}
.snakeHead {
	background-image: url(../img/smile.svg);
	background-size: cover;
	/*background-position: 25px 106px;*/
}
.snakeTail {
	background-image: url(../img/circleTail.svg);
	/*background-position: 25px 52px;*/
}
.snakeFood {
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 136px 26px;
}
.snakeHeadTop {
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 53px 108px;
}
.gameInfo {
	width: 250px;
	height: 50px;
	color: #fff;
	text-align: center;
	margin: 50px auto 0px;
	line-height: 50px;
	font-size: 24px;
	position: relative;
}
.gameInfo::before {
	content: '';
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 136px 26px;
	height: 26px;
	width: 33px;
	position: absolute;
	left: 85px;
	top: 10px;
}
.gameButton {
	margin: 30px auto;
	font: bold 32px/60px 'Gamja Flower', cursive;
	height: 60px;
	width: 200px;
	text-align: center;
	background-color: yellow;
	color: #094DEA;
	text-decoration: none;
	box-shadow: 0px 6px 15px rgba(9,77,234, .4);
	transition: .4s;
}
.gameButton:hover {
	background-color: #094DEA;
	color: yellow;
	box-shadow: 0px 8px 20px rgba(255,255,0, .8);
	transform: translateY(-8px);
	letter-spacing: 3px;
	cursor: pointer;
}
.gameButton:active {
	box-shadow: 0px 0px 0px 5px rgba(255,255,0, 1) inset;
}
.modalWindow {
	width: 300px;
	height: 150px;
	background: yellow;
	top: 225px;
	left: 225px;
	position: absolute;
	text-align: center;
	box-shadow: 0px 8px 20px black;
	animation-name: modal;
	animation-duration: 1s; /* Продолжительность анимации */
  animation-fill-mode: forwards;
}
.modalWindow h2 {
	font-size: 16px;
}
#pressResult {
	display: block;
	margin: 20px auto 0;
	width: 100px;
	height: 40px;
	text-transform: uppercase;
  font: bold 16px 'Gamja Flower';
}
.descResults {
	width: 200px;
	background: pink;
	margin: 0 auto;
	height: 300px;
	overflow-x: hidden;
}
.descResults span:first-child {
	border-bottom: 1px solid black;
}
.descResults span {
	display: block;
	line-height: 30px;
	color: #0F143C;
	font-family: 'Gamja Flower';
}
@keyframes logo {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.lettersAnim {
	animation: glitch 1.5s forwards; /*анимация воздействует на элемент по окончании воспроизведения.*/
}
@keyframes glitch {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	55% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes modal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes modalback {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}