@font-face {
	font-family: GamjaFlower;
}
html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	background: radial-gradient(#4CCEB2, #2F8FD8);
}
.game {
   width: 1000px;
   height: 600px;
   margin: 50px auto;
   background-color: #0F143C;
}
#wrap_letters {
	width: 750px;
	min-height: 55%;
	padding-top: 50px;
	margin: auto;
}
img {
	display: block;
	margin: auto;
}
.letter {
	width: 150px;
	opacity: 0;
	float: left;
}
.fontSnake {
	width: 20%;
	opacity: 0;
	animation-name: logo;
	animation-duration: 2s; /* Продолжительность анимации */
  animation-delay: 1s; /* Задержка */
  animation-fill-mode: forwards;
}
.cell {
	width: 25px;
	height: 25px;
	background-color: #fff;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #0F143C;
}
.gameCells {
	width: 750px;
	height: 600px;
	display: none;
}
.snakeBody {
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 107px 107px;
}
.snakeHead {
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 25px 106px;
}
.snakeTail {
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 25px 52px;
}
.snakeFood {
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 136px 26px;
}
.gameInfo {
	width: 250px;
	height: 50px;
	color: #fff;
	text-align: center;
	margin: 50px auto 0px;
	line-height: 50px;
	font-size: 24px;
	position: relative;
}
.gameInfo::before {
	content: '';
	background-image: url(../img/snake_graphics_mini.png);
	background-position: 136px 26px;
	height: 26px;
	width: 33px;
	position: absolute;
	left: 85px;
	top: 10px;
}
.gameButton {
	margin: 30px auto;
	font: bold 32px/60px 'Gamja Flower', cursive;
	height: 60px;
	width: 200px;
	text-align: center;
	background-color: yellow;
	color: #094DEA;
	text-decoration: none;
	box-shadow: 0px 6px 15px rgba(9,77,234, .4);
	transition: .4s;
}
.gameButton:hover {
	background-color: #094DEA;
	color: yellow;
	box-shadow: 0px 8px 20px rgba(255,255,0, .8);
	transform: translateY(-8px);
	letter-spacing: 3px;
	cursor: pointer;
}
.gameButton:active {
	box-shadow: 0px 0px 0px 5px rgba(255,255,0, 1) inset;
}

@keyframes logo {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.lettersAnim {
	animation: glitch 1.5s forwards; /*анимация воздействует на элемент по окончании воспроизведения.*/
}
@keyframes glitch {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	55% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}